#up-arrow {
  position: fixed;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 8px 13px;
  bottom: 60px;
  right: 50px;
  border-radius: 20px;
}

#up-arrow:hover {
  background-color: #66fcf1;
  color: black;
}

#nav-menu-section {
  padding-top: 60px;
  background-color: #121212;
  color: white;
  height: 100vh;
  z-index: 50;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

#nav-menu-section i.cross {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#nav-menu-section i.cross:hover {
  cursor: pointer;
  color: #66fcf1;
}

#nav-menu-section .nav-menu-list {
  list-style-type: none;
  width: 70vw;
  margin: auto;
  text-align: left;
  border: 2px solid #2d2f38;
  font-size: 18px;
}

#nav-menu-section .nav-menu-list li {
  border-bottom: 1px solid #2d2f38;
  padding: 20px 25px;
  cursor: pointer;
}

#nav-menu-section .nav-menu-list li.nav-menu-section-about-us {
  padding: 20px 25px;
}

#nav-menu-section .nav-menu-list .nav-menu-about-us-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

@media (max-width: 1024px) and (min-width: 768px) {
  nav {
    flex-direction: column;
    gap: 25px;
    align-items: start;
    padding: 20px 5vw;
    position: sticky;
  }

  .logo span {
    font-size: 3vw;
  }

  nav .nav-menu {
    display: none;
  }

  .nav-items a:nth-child(1) {
    margin-left: 0px;
  }

  .nav-items a {
    margin-left: 20px;
    font-size: 2vw;
  }

  .nav-auth a {
    font-size: 2vw;
  }

  .nav-auth {
    margin-left: 0;
  }

  .nav-auth button {
    padding: 10px 15px;
    font-size: 16px;
  }

  .hero-section {
    width: 100%;
    height: 80vh;
    padding: 0 0 10vh 5vw;
  }

  .hero-section .carousel-container .carousel-slide .text-content {
    width: 100%;
  }

  .hero-section .carousel-container .carousel-slide .text-content p {
    font-size: 1.1rem;
  }

  .hero-section .carousel-container .carousel-slide .text-content h1 {
    font-size: 7.5vw;
  }

  #features-section {
    flex-direction: column;
  }

  #features-section .features {
    gap: 30px;
  }

  #experience-section {
    padding: 10vh 5vw 0;
  }

  #experience-section .experience-left {
    width: 50vw;
  }

  #experience-section .experience-left .images img {
    width: 20vw;
  }

  #experience-section .statistics {
    gap: 1vw;
  }

  #experience-section .statistics div h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  #title {
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #title div h1 {
    font-size: 3vw;
    margin-top: 15px;
    font-weight: 500;
  }

  #title button {
    padding: 15px 25px;
    font-size: 1rem;
  }

  #services .images .image {
    width: 300px;
    height: 350px;
    background-size: 240%;
  }

  #services .images .image:hover {
    background-size: 260%;
  }

  #testimonial-section .testimonial-description {
    margin: 0 5vw;
  }

  #news-section .img-container {
    width: 40rem;
    height: 80vh;
    padding: 0 5% 5% 5%;
    background-size: 290%;
  }

  #news-section .img-container:hover {
    background-size: 310%;
  }

  #news-section .img-container h1 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 50px;
  }

  #news-section .news-content {
    margin: 0 5vw;
  }

  #news-section .news-articles .news-article .news-article-title h4 {
    font-size: 18px;
    font-weight: 500;
  }

  #news-section .news-articles .news-article .news-article-title p {
    font-size: 14px;
  }

  #pricing-section {
    padding: 12vh 5vw;
  }

  #pricing-section .pricing-details {
    gap: 2vw;
    justify-content: start;
  }

  #pricing-section .pricing-details div {
    margin-top: 7vh;
    width: 26vw;
  }

  #services-for-clients .services div {
    min-width: 30vw;
    width: 40vw;
  }

  #footer .footer-header {
    gap: 20px;
    margin: 0 5vw;
  }

  #footer .contact {
    padding: 7vh 5vw;
    gap: 15px;
  }

  #footer .contact div h5 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  #footer .contact .payment img {
    width: 15rem;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5vh 5vw;
    position: static;
  }

  nav .logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .logo span {
    font-size: 1.4rem;
  }

  nav .nav-items {
    display: none;
  }

  nav .nav-menu {
    display: block;
    font-size: 1.5rem;
    border: 1px solid #2d2f38;
    padding: 0 10px;
    cursor: pointer;
  }

  nav .nav-menu:hover {
    border: 1px solid #66fcf1;
    color: #66fcf1;
  }

  .nav-auth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .nav-auth a {
    font-size: 18px;
  }

  .nav-auth button {
    padding: 10px 20px;
    font-size: 1.1rem;
  }

  .hero-section {
    width: 100%;
    height: 80vh;
    padding: 0 0 10vh 0;
  }

  .hero-section .carousel-container .carousel-slide .text-content {
    width: 100%;
    padding: 0 0 0 5vw;
  }

  .hero-section .carousel-container .carousel-slide .text-content p {
    font-size: 1.1rem;
  }

  .hero-section .carousel-container .carousel-slide .text-content h1 {
    font-size: 7.5vw;
  }

  #features-section {
    flex-direction: column;
    padding: 2vh 4vw 12vh;
  }

  #features-section .features {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #experience-section {
    padding: 8vh 5vw 0;
  }

  #experience-section h1 {
    font-size: 6vw;
  }

  #experience-section .experience {
    flex-direction: column;
    width: 100%;
  }

  #experience-section .experience .experience-left {
    width: 100%;
  }

  #experience-section .experience-left .images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #experience-section .experience-left .images img {
    width: 100%;
  }

  #experience-section .statistics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #experience-section .statistics div h2 {
    font-size: 2.2rem;
    margin-bottom: 0.4rem;
  }

  #experience-section .statistics div p {
    font-size: 1rem;
  }

  #experience-section .experience-right {
    width: 100%;
    padding-top: 70px;
  }

  #title {
    padding: 5vh 5vw;
    flex-direction: column;
    align-items: start;
  }

  #title div h1 {
    font-size: 2rem;
    margin: 10px 0 20px;
    font-weight: 500;
  }

  #title button {
    padding: 15px 25px;
    font-size: 1rem;
  }

  #services .images {
    margin-top: 30px;
    display: inline-block;
    overflow: hidden;
    padding: 0 3vw;
  }

  #services .images .image {
    width: 100%;
    background-size: 125%;
  }

  #services .images .image:hover {
    background-size: 150%;
  }

  #testimonial-section .testimonial-description {
    padding: 10vh 6vw;
    margin: 5vh 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #news-section .news-content {
    margin: 5vh 5vw 7vh;
    flex-direction: column;
  }

  #news-section .img-container {
    width: 100%;
    background-size: 275%;
  }

  #news-section .img-container:hover {
    background-size: 290%;
  }

  #pricing-section {
    padding: 15vh 5vw;
  }

  #pricing-section .pricing-title {
    margin-bottom: 9vh;
  }

  #pricing-section .pricing-title h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  #pricing-section .pricing-details {
    flex-direction: column;
    gap: 50px;
  }

  #pricing-section .pricing-details div {
    width: 100%;
  }

  #services-for-clients .services {
    padding: 0 5vw;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #services-for-clients .services div {
    width: 100%;
  }

  #footer {
    padding-top: 10vh;
  }

  #footer .footer-header {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 5vw;
    padding-bottom: 4vh;
  }

  #footer .contact {
    padding: 5vh 5vw;
    gap: 80px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #footer .contact .payment img {
    width: 25rem;
  }
}
